/node_modules
.env
/build
*.log
*.swp

app/node_modules
app/.expo/
app/dist/
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/
app/.DS_Store
app/env

# dependencies
client_webpage/node_modules
client_webpage/.pnp
client_webpage/.pnp.js
client_webpage/env

# testing
client_webpage/coverage

# production
client_webpage/build

# misc
client_webpage.DS_Store
client_webpage.env.local
client_webpage.env.development.local
client_webpage.env.test.local
client_webpage.env.production.local

client_webpagenpm-debug.log*
client_webpageyarn-debug.log*
client_webpageyarn-error.log*
client_webpageThe Bee Space.code-workspace

server/node_modules

compose.yaml
git-update.sh
restart.sh
up.sh
attach.sh