html { 
  background: linear-gradient(110deg, rgba(255,255,255,1) 0%, rgba(127,188,199,1) 100%) no-repeat center center fixed;
}

.header {
  font-family: 'Comfortaa-Reg';
  display: flex;
  align-items: flex;
  justify-content: left;
  padding: 16px;
}

.form{
  background-color: #FFFFFF;
}

.reporterInfo{
  background-color: #FFFFFF;
}

.propertyInfo{
  background-color: #FFFFFF;
}

.header img {
  height: 50px;
}

.header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin-right: 16px;
  margin-left: 16px;
  padding: 5px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.header nav ul li:hover{
  background-color: #ffffff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #ffffff;
}

.header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

.submitbutton {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.submitbutton:hover {
  background-color: #fff;
  color: #ff6600;
  box-shadow: 0 0 10px #ff6600;
}